@{
    ViewData["Title"] = "Admin_Report";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2 class="text-center mt-5"> SAMPLE REPORTS</h2>
<hr />
<a class="link-box" asp-controller="Reports" asp-action="Nurse_Report_Sample_A">
    <div class="link-box-left"><img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/adobe.svg" alt="Adobe logo"></div>
    <div class="link-box-right">
        <h4>Reports for Available User(Vaccine)</h4>
        <p>Download/print  <strong>.pdf </strong>by quering database</p>
    </div>
</a>
<a class="link-box" asp-controller="Reports" asp-action="Nurse_Report_Sample_Vacc">
    <div class="link-box-left"><img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/adobe.svg" alt="Adobe logo"></div>
    <div class="link-box-right">
        <h4>Reports For Vaccination Information</h4>
        <p>Download/print  <strong>.pdf </strong>by quering database</p>
    </div>
</a>
<a class="link-box" asp-controller="Reports" asp-action="Nurse_Screen_Report">
    <div class="link-box-left"><img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/adobe.svg" alt="Adobe logo"></div>
    <div class="link-box-right">
        <h4>Reports For Vaccination Screening </h4>
        <p>Download/print  <strong>.pdf </strong>by quering database</p>
    </div>
</a>
@*<a class="link-box" href="#">
    <div class="link-box-left"><img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/adobe.svg" alt="Adobe logo"></div>
 <div class="link-box-right">
        <h4>Reports for Users</h4>
        <p>Download/print  <strong>.pdf </strong>by quering database</p>
    </div>
</a>
<a class="link-box" href="#">
    <div class="link-box-left"><img src="https://dev.w3.org/SVG/tools/svgweb/samples/svg-files/adobe.svg" alt="Adobe logo"></div>
 <div class="link-box-right">
        <h4>Reports for Users</h4>
        <p>Download/print  <strong>.pdf </strong>by quering database</p>
    </div>
</a>*@
<style>


    .link-box {
        background-image: url("../images/colors/download_icon.svg");
        background-position: 90% 50%;
        background-repeat: no-repeat;
        background-size: 64px;
        border-radius: 2px;
        box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.16);
        color: White;
        display: flex;
        height: 100px;
        position: relative;
        width: 490px;
        text-decoration: none;
        margin-top: 50px;
        /* Reset link colors for the a box */
        /* Device */
    }

        .link-box h4,
        .link-box p {
            margin: 0;
        }

        .link-box h4,
        .link-box strong {
            color: #686565;
        }

    .link-box-left {
        align-items: center;
        background: white;
        display: flex;
        justify-content: center;
        width: 20%;
    }

        .link-box-left img {
            height: 50%;
            width: 50%;
        }

    .link-box-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px;
        width: 80%;
    }

    .link-box:after {
        bottom: 0;
        content: " ";
        display: block;
        height: 5px;
        left: 0;
        position: absolute;
        transition: all 0.2s ease-in-out;
        width: 0;
    }

    .link-box:hover {
        cursor: pointer;
    }

        .link-box:hover:after {
            background-color: #008acf;
            width: 100%;
        }

    .link-box:active, .link-box:hover, .link-box:visited, .link-box:focus {
        color: #969494;
        text-decoration: none;
    }

</style>