
@{
    ViewData["Title"] = "File";
    Layout = "~/Views/Shared/_PreNatalLayout.cshtml";
}

<div style= "text-align: center;">
    <img src = "~/images/FILE.png" style="max-width: 1000px; height: auto;">

</div>

