@{
    ViewData["Title"] = "Referral";
    Layout = "~/Views/Shared/_PreNatalLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Referral Form</title>
</head>
<body>
    <div>
        <h3>E-Nompilo</h3>
        <p>[40 park Dr, Summerstrand,Gqeberha]</p>
        <p>Gqeberha]</p>
        <p>041 435 6111</p>
        <p>Date: August 5, 2023</p>
    </div>

    <h2>Referral Form for Obstetric Specialist Consultation</h2>

    <h3>Patient Information:</h3>
    <ul>
        <li><strong>Name:</strong> Stephen Hunterscraig</li>
        <li><strong>DOB:</strong> 31 July 1988</li>
        <li><strong>Gestational Age:</strong> 4 Weeks</li>
        <li><strong>EDD:</strong> 25 November 2023</li>
        <li><strong>MRN:</strong> 143567</li>
        <li><strong>Contact:</strong> 078 567 9876, Stephen@gmail.com</li>
    </ul>

    <h3>Referring Physician:</h3>
    <ul>
        <li><strong>Name:</strong> Hurry Philips </li>
        <li><strong>Title:</strong> Dr</li>
        <li><strong>Clinic:</strong> E-nompilo Hospital</li>
        <li><strong>Phone:</strong> 083 654 3219</li>
        <li><strong>Email:</strong> DrHurryPhilips.ac.za</li>
    </ul>

    <h3>Reason for Referral:</h3>
    <p>The patient is displaying elevated blood pressure readings and proteinuria during routine prenatal checks-ups,The patient has a medical history of chronic hypertension and is currently in her third trimesterbof pregnancy,Due to patient's history of chronic hypertension and the development of preeclampsia symptoms, an obstestrics specialist review is necessary to evaluate the severity of condition, assess potential risks to both the mother and baby, and determine the appropriate course of prenatal care</p>

    <h3>Specific Concerns:</h3>
    <p>[List complications or concerns requiring specialist attention.]</p>


</body>
</html>



