
<form role="form" class="form-horizontal">


    <div class="form-heading" style="border-bottom-style:double;border-bottom-left-radius:6px;">
        <h3 class="text-center fa-underline mt-4" style="margin-bottom:25px">MEDICAL FILE</h3>
    </div>


    <div class="form-group form-check-inline">
        <div class="col-sm-8">
            <label>First name</label>
            <input class="form-control" placeholder="First" type="text" required>
        </div>
        <div class="col-sm-8">
            <label>Last name</label>
            <input class="form-control" placeholder="Last" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-10" for="TextArea">Identity No</label>
        <div class="col-sm-10">
            <input class="form-control" id="streetAddress1" placeholder="Identity Number" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-10" for="TextArea">Residential Address</label>
        <div class="col-sm-10">
            <input class="form-control" id="streetAddress1" placeholder="Street Address 1" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input class="form-control" id="streetAddress2" placeholder="Street Address 2" type="text">
        </div>
    </div>

    <div class="form-group form-check-inline ">


        <div class="col-sm-4">
            <label class="col-sm-8">City</label>
            <input class="form-control" id="inputEmail1" placeholder="City" type="text">
        </div>

        <div class="col-sm-4">
            <label>Postcode</label>
            <input class="form-control" id="postcode" placeholder="Postcode" type="text">
        </div>
        <div class="col-sm-4">
            <label>Country or Region</label>
            <select class="form-control input-sm">
                <option>Select</option>
                <option>USA</option>
                <option>Mexico</option>
            </select>
        </div>
    </div>

    <div class="form-submit align-content-end" style="border-top-style:double;border-top-left-radius:5px;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary text-right" style="">Submit</button>
    </div>
</form>


