@model E_Nompilo_Healthcare_system.Models.Add_Medication_Model

@{
    ViewData["Title"] = "UpdateMedication";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<h4>Add_Medication_Model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateMedication">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicationId" />
            <div class="form-group">
                <label asp-for="MedicationName" class="control-label"></label>
                <input asp-for="MedicationName" class="form-control" />
                <span asp-validation-for="MedicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActiveIngredient" class="control-label"></label>
                <input asp-for="ActiveIngredient" class="form-control" />
                <span asp-validation-for="ActiveIngredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DosageForm" class="control-label"></label>
                <input asp-for="DosageForm" class="form-control" />
                <span asp-validation-for="DosageForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>*@
           @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <select asp-for="Id" class="form-control" asp-items="ViewBag.Id"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Medication_List">Back to List</a>
</div>

