
@{
    ViewData["Title"] = "About us";
}

<div class="bg-light ">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About us </h1>
                <p class="lead text-muted mb-0">Health Care Treatment means the provision, coordination, or management of Health Care and 
                    related services by one or more Health Care Providers, including the coordination or management of Health Care by 
                    a Health Care Provider with a third party, consultation between Health Care Providers relating to a patient.</p>
                <p class="lead text-muted">
                    we serve
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" asp-append-version="true" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>

