@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["AlertMessageel"] != null)
{
    <script>
        alert("@TempData["AlertMessageel"]");
    </script>
}
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Home_Index.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        .why-blocks__item-back {
            transform: rotateY(-180deg);
            background-color: #093353
        }

        .why-blocks__item-front {
            z-index: 2;
            transform: rotateY(0);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover
        }

        .why-blocks__item--navy .why-blocks__item-front {
            background-color: #093353
        }

        .why-blocks__item--teal .why-blocks__item-front {
            background-color: #64c3c4
        }

        .why-blocks__item--blue .why-blocks__item-front {
            background-color: #59aee4
        }

        .why-blocks__item--dark-blue .why-blocks__item-front {
            background-color: #224887
        }

        .why-blocks__item-flipper {
            transition: .5s ease-out;
            transform-style: preserve-3d;
            position: relative;
            background: #fff
        }

        .why-blocks__item-back, .why-blocks__item-front {
            width: 100%;
            height: 185px;
            backface-visibility: hidden;
            transition: .5s ease-out;
            transform-style: preserve-3d;
            position: absolute;
            top: 0;
            left: 0
        }

        .why-blocks__content {
            position: relative;
            height: 100%;
            width: 100%;
            color: #fff;
            padding: 27px 30px
        }

            .why-blocks__content .more:before {
                background-color: #fff
            }

            .why-blocks__content h3 {
                color: #fff;
                margin-bottom: .25em;
                max-height: 3.45em;
                font-weight: 500;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis
            }

        .why-blocks__row:after, .why-blocks__row:before {
            content: '';
            display: table;
            clear: both
        }

        .why-blocks__item {
            display: block;
            position: relative;
            -ms-transform: perspective(1000px);
            perspective: 1000px;
            transform-style: preserve-3d;
            height: 185px;
            user-select: none
        }

        .article .article__nav-next {
            float: right
        }

            .article .article__nav-next:after {
                font-family: life;
                line-height: 1;
                width: 1em;
                font-size: 75%;
                color: inherit;
                vertical-align: middle;
                position: relative;
                top: -1px;
                content: '\e800';
                margin-left: .5em
            }

            .article .article__nav-next:before {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background: #f20d19;
                transition: width .25s ease-out
            }

            .article .article__nav-next:focus:before, .article .article__nav-next:hover:before {
                width: 100%
            }

        .article-summary {
            margin-bottom: 50px
        }

            .article-summary:after, .article-summary:before {
                content: '';
                display: table;
                clear: both
            }

        .article-summary__content {
            flex: 1
        }

            .article-summary__content h2 {
                margin-bottom: 15px
            }

            .article-summary__content .rte {
                margin-top: 1em
            }

        .article-summary__intro {
            margin-top: -15px
        }

        .article-summary__img {
            flex-shrink: 0;
            float: right;
            margin-top: 25px
        }

        .why-blocks__item:hover .why-blocks__item-back {
            transform: rotateY(0)
        }

        .why-blocks__item:hover .why-blocks__item-front {
            transform: rotateY(180deg)
        }

        .why-blocks__content p {
            margin-bottom: .5em;
            line-height: 1.35;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis
        }

        .article-blocks__img {
            overflow: hidden
        }

            .article-blocks__img img {
                transition: transform .5s ease-out
            }

        .why-blocks__content .icon-down-open {
            display: none
        }

        .img-responsive {
            display: block;
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto
        }

        .img-max {
            display: block;
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto
        }

        /*SECTION3*/
        .section3 {
            width: 100%;
            background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://i.ibb.co/Sft7gKp/bg2.webp");
            background-size: cover;
            position: relative;
            padding: 3vh 0;
            overflow: hidden;
        }
        
            .section3 .cards {
                width: 50%;
            }

                .section3 .cards .card {
                    display: block;
                    margin: 10px 0;
                    background: rgba(255,255,255,0.8);
                    width: 80%;
                    transition: 0.5s;
                    cursor: pointer;
                    box-shadow: 0px 6px 16px -6px rgba(1,1,1,0.5);
                }

                    .section3 .cards .card:hover {
                        width: 90%;
                        background: rgba(255,255,255,0.9);
                    }

                    .section3 .cards .card section {
                        padding: 1rem;
                    }

                        .section3 .cards .card section h4 {
                            color: gray;
                            font-weight: 200;
                        }

                        .section3 .cards .card section h1 {
                            color: #167ce9;
                        }

            .section3 .content {
                position: absolute;
                top: 20vh;
                right: 2vw;
                width: 40%;
            }

                .section3 .content h1 {
                    font-size: 2.5em;
                }

                .section3 .content p {
                    line-height: 1.4em;
                    letter-spacing: 0.08em;
                    font-size: 1.4em;
                    color: rgba(1,1,1,0.7);
                }

    </style>

</head>
 <!-- Home -->
 <br />

<section style="width:100%; " >
    <div style="width:100%; " >
        <div class="cont">
            
                <picture class="img-max">
                   
                    <img class="d-block w-100" src="~/images/slide1.jpg" alt="First slide">
                </picture>
            
            

                <div class="top-left top-50">
                    <h2> Be one of us, As we'll take care of You </h2>

                    <p class="hero-slider__intro">Today – and everyday. Our nurses, our future.</p>
                    <p>
                        <a asp-area="Identity" asp-page="/Account/Register" title="Register as a new patient" ><strong> Register - As patient</strong></a>
                    </p>
                </div>
            
        </div>
        
    </div>
</section>

<main class="page-content">
    <div class="container">
        <article style="margin-top: 44px;" class="article-summary">
            <div class="article-summary__content">
                <h2>About E-nompilo Healthcare</h2>
                <p class="article-summary__intro">Our purpose is making life better; improving the lives of others is in our genes.</p>
                <div class="rte">
                    <p>Learn more about our vision, our mission and our values: what we are passionate about and why we believe we have a unique service to offer to everyone with whom we interact. </p>
                </div>
                <p class="article-summary__more">
                    <a asp-area="" asp-controller="Home" asp-action="About" target="" title="About Us" ><strong>Read more</strong></a>
                </p>

            </div>
            <div class="article-summary__img">
                <img src="~/images/about_slide.jpg" alt="" class="img-responsive" />
            </div>
        </article>


        <!--SECTION3-->
        <h2>Why choose E-nompilo Healthcare</h2>
        <br /><br />
        <section class="section3">
            <div class="cards">
                <div class="card">
                    <section>
                        <h1>Laboratory Services</h1>
                        <h4>Your trusted partner in laboratory testing and diagnostics. </h4>
                    </section>
                </div>
                <div class="card">
                    <section>
                        <h1>General Treatment</h1>
                        <h4>Your trusted destination for high-quality general treatment and healthcare services.</h4>
                    </section>
                </div>
                <div class="card">
                    <section>
                        <h1>Comprehensive Services</h1>
                        <h4>we offer a comprehensive range of medical services,</h4>
                    </section>
                </div>
            </div>
            <div class="content">
                <h1>We are well experienced doctors</h1>
                <p>we take pride in our extensive experience and unwavering commitment to your health and well-being. Our team of seasoned medical professionals has been serving the community for [26] with a passion for excellence and a dedication to providing the highest level of care. </p>
            </div>
        </section>


    </div>
</main>
<br /><br />
<section class=" text-center align-content-center">
    <div class="text-center align-content-center">
        <div class="card text-center  align-content-center">
            <h5 class="text-uppercase mb-1 pb-1" style="font-size:20px;">Get In Touch!</h5>
            <p>Contact us for a quote,help to be under our care</p>

            <ul class="fa-ul" style="margin-left: 1.65em;">
                <li class="mb-3">
                    <span asp-area="" asp-controller="Home" asp-action="Index" class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">East London, 6001, SA</span>
                </li>
                <li class="mb-3">
                    <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">EPLHealthcare@Gmail.ac.za</span>
                </li>
                <li class="mb-3">
                    <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 687 567 89</span>
                </li>

            </ul>


        </div>

    </div>
</section>
<section class="shop mt-5" id="shop">
    <div class="heading">


        <!--Map -->
        <div class="containerMap">
            <h1 style="margin-bottom:15px;" class="text-center ">Location Map</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26477.212168835507!2d25.57712327824226!3d-33.95008993028843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e7ad252544dfd41%3A0xd728eebbae82776d!2sPrimary%20Health%20Care%20Services!5e0!3m2!1sen!2sza!4v1681145170735!5m2!1sen!2sza"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</section>


<style>
    .why-blocks__item-back {
        transform: rotateY(-180deg);
        background-color: #093353
    }

    .why-blocks__item-front {
        z-index: 2;
        transform: rotateY(0);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover
    }

    .why-blocks__item--navy .why-blocks__item-front {
        background-color: #093353
    }

    .why-blocks__item--teal .why-blocks__item-front {
        background-color: #64c3c4
    }

    .why-blocks__item--blue .why-blocks__item-front {
        background-color: #59aee4
    }

    .why-blocks__item--dark-blue .why-blocks__item-front {
        background-color: #224887
    }

    .why-blocks__item-flipper {
        transition: .5s ease-out;
        transform-style: preserve-3d;
        position: relative;
        background: #fff
    }

    .why-blocks__item-back, .why-blocks__item-front {
        width: 100%;
        height: 185px;
        backface-visibility: hidden;
        transition: .5s ease-out;
        transform-style: preserve-3d;
        position: absolute;
        top: 0;
        left: 0
    }
    .why-blocks__content {
        position: relative;
        height: 100%;
        width: 100%;
        color: #fff;
        padding: 27px 30px
    }
    .why-blocks__content .more:before {
        background-color: #fff
    }

    .why-blocks__content h3 {
        color: #fff;
        margin-bottom: .25em;
        max-height: 3.45em;
        font-weight: 500;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .why-blocks__row:after, .why-blocks__row:before {
        content: '';
        display: table;
        clear: both
    }

    .why-blocks__item {
        display: block;
        position: relative;
        -ms-transform: perspective(1000px);
        perspective: 1000px;
        transform-style: preserve-3d;
        height: 185px;
        user-select: none
    }
    .article .article__nav-next {
    float: right
}

    .article .article__nav-next:after {
        font-family: life;
        line-height: 1;
        width: 1em;
        font-size: 75%;
        color: inherit;
        vertical-align: middle;
        position: relative;
        top: -1px;
        content: '\e800';
        margin-left: .5em
    }

    .article .article__nav-next:before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background: #f20d19;
        transition: width .25s ease-out
    }

    .article .article__nav-next:focus:before, .article .article__nav-next:hover:before {
        width: 100%
    }

.article-summary {
    margin-bottom: 50px
}

    .article-summary:after, .article-summary:before {
        content: '';
        display: table;
        clear: both
    }
    .article-summary__content {
        flex: 1
    }

        .article-summary__content h2 {
            margin-bottom: 15px
        }

        .article-summary__content .rte {
            margin-top: 1em
        }

    .article-summary__intro {
        margin-top: -15px
    }

    .article-summary__img {
        flex-shrink: 0;
        float: right;
        margin-top: 25px
    }
        .why-blocks__item:hover .why-blocks__item-back {
            transform: rotateY(0)
        }

        .why-blocks__item:hover .why-blocks__item-front {
            transform: rotateY(180deg)
        }
    .why-blocks__content p {
        margin-bottom: .5em;
        line-height: 1.35;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .article-blocks__img {
    overflow: hidden
   }

    .article-blocks__img img {
        transition: transform .5s ease-out
    }

    .why-blocks__content .icon-down-open {
        display: none
    }
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto
    }

    .img-max {
        display: block;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto
    }
</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script src="~/lib/jquery/jquery-3.2.1.min.js"></script>
<script src="~/lib/jquery/Jquery.js"></script>




