@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Registered";
}
<br />
<br />
<br />
<br />
<br />


<h1 class=""><i class="fa fa-heartbeat" style="font-size:36px;"></i>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
