@using E_Nompilo_Healthcare_system.Areas.Identity.Data;
@model HealthcareSystemUser

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Page title -->
            <div class="">
                <h3>My Profile</h3>
                <hr>
            </div>
            <!-- Form START -->
            <form class="file-upload" asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="row mb-5 gx-5">
                    <!-- Contact detail -->
                    <div class="col-xxl-8 mb-5 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 py-5 rounded">
                            <div class="row g-3">
                                <h4 class="mb-4 mt-0">Contact detail</h4>
                                <!-- First Name -->
                                <div class="col-md-6">
                                    <label asp-for="FirstName" class="form-label">First Name </label>
                                    <input type="text" asp-for="FirstName" value="@ViewData["FirstName"]" class="form-control" placeholder="" aria-label="First name">
                                </div>

                                <!-- Last name -->
                                <div class="col-md-6">
                                    <label asp-for="LastName" class="form-label">Last Name </label>
                                    <input type="text" asp-for="LastName" value="@ViewData["LastName"]" class="form-control" placeholder="" aria-label="Last name">
                                </div>
                                <!-- Phone number -->
                                <div class="col-md-6">
                                    <label asp-for="PhoneNumb" class="form-label">Phone number </label>
                                    <input type="text" asp-for="PhoneNumb" value="@ViewData["PhoneNumber"]" class="form-control" placeholder="" aria-label="Phone number">
                                </div>
                                <!-- Mobile number -->
                                <div class="col-md-6">
                                    <label class="form-label">ID</label>
                                    <input type="text" disabled class="form-control" value="" placeholder="**************">
                                </div>
                                <!-- Email -->
                                <div class="col-md-6">
                                    <label asp-for="Email" for="inputEmail4" class="form-label">Email</label>
                                    <input type="email" asp-for="Email" class="form-control" value="@ViewData["Email"]">
                                </div>
                                <!-- Skype -->
                                
                            </div> <!-- Row END -->
                        </div>
                        <button type="submit" class="btn btn-primary btn-M Blg">Update profile</button>
                    </div>
                </div>
            </form>         <!-- Upload profile -->
          


            <!-- button -->
            <!-- Form END -->
        </div>
    </div>
</div>

<style>
    body {
        margin-top: 20px;
        color: black;
    }

    .bg-secondary-soft {
        background-color: rgba(208, 212, 217, 0.1) !important;
        color: black
    }

    .rounded {
        border-radius: 5px !important;
    }

    .py-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .file-upload .square {
        height: 210px;
        width: 200px;
        margin: auto;
        vertical-align: middle;
        border: 1px solid #e5dfe4;
        background-color: #fff;
        border-radius: 5px;
    }

    .text-secondary {
        --bs-text-opacity: 1;
        color: rgba(208, 212, 217, 0.5) !important;
    }

    .btn-success-soft {
        color: #28a745;
        background-color: rgba(40, 167, 69, 0.1);
    }

    .btn-danger-soft {
        color: #dc3545;
        background-color: rgba(220, 53, 69, 0.1);
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.6;
        color: black;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e5dfe4;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 5px;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }
</style>

